.footer {
  background: #0f172a;
  color: white;
  padding-top: 70px;
}

.footer-container {
  max-width: 1200px;

  margin: auto;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 40px;

  padding: 0 20px 50px;
}

.footer-logo {
  color: #3b82f6;

  margin-bottom: 20px;

  font-size: 28px;
}

.footer-box p {
  color: #cbd5e1;

  line-height: 1.8;
}

.footer-box h3 {
  margin-bottom: 20px;

  font-size: 22px;
}

.footer-box ul {
  list-style: none;
}

.footer-box ul li {
  margin-bottom: 12px;

  cursor: pointer;

  color: #cbd5e1;

  transition: 0.3s;
}

.footer-box ul li:hover {
  color: white;

  padding-left: 8px;
}

.footer-box p {
  display: flex;

  align-items: center;

  gap: 10px;

  margin-bottom: 15px;
}

.footer-social {
  display: flex;

  gap: 15px;

  margin-top: 20px;
}

.footer-social a {
  width: 45px;

  height: 45px;

  border-radius: 50%;

  background: #2563eb;

  display: flex;

  justify-content: center;

  align-items: center;

  color: white;

  font-size: 18px;

  transition: 0.3s;
}

.footer-social a:hover {
  background: white;

  color: #2563eb;

  transform: translateY(-5px);
}

.footer-bottom {
  text-align: center;

  border-top: 1px solid rgba(255, 255, 255, 0.1);

  padding: 25px;

  color: #94a3b8;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer-box p {
    justify-content: center;
  }

  .footer-social {
    justify-content: center;
  }
}
